<div>
<div class="avatar-img">
<img src="https://pngimage.net/wp-content/uploads/2018/06/homer-simpson-avatar-png-1.png">
</div>
<div>
<ul>
 <li>
    <%= link_to 'Inicio', :controller => :main, :action => :index %>
 </li>
 <li>
    <%= link_to 'Autores', :controller => :authors, :action => :index %>
 </li>
 <li>
    <%= link_to 'Publicaciones', :controller => :publications, :action => :index %>
 </li>
</ul>
</div>
</div>

